<div class="dashboard" style="padding: 20px;">
    <div class="container" style="background-color: #f3f3f3;">
        <div class="row" style="padding: 12px; border: 1px solid black;">
            <div class="col-sm d-flex">
                <div class="icon-div">
                    <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">check</mat-icon> -->
                    <mat-icon color = "primary">assignment</mat-icon>
                </div>
                <div>
                    <div style="opacity: 0.5;">Income</div>
                    <h5 style="margin-top: 4px; margin-bottom: 4px;">32,523k VND</h5>
                    <div>^ 12% since last month</div>
                </div>
            </div>
            <div class="col-sm d-flex">
                <div class="icon-div">
                    <mat-icon color = "primary">assignment</mat-icon>
                </div>
                <div>
                    <div style="opacity: 0.5;">Income</div>
                    <h5 style="margin-top: 4px; margin-bottom: 4px;">32,523k VND</h5>
                    <div>^ 12% since last month</div>
                </div>
            </div>
            <div class="col-sm d-flex">
                <div class="icon-div">
                    <mat-icon color = "primary">assignment</mat-icon>
                </div>
                <div>
                    <div style="opacity: 0.5;">Income</div>
                    <h5 style="margin-top: 4px; margin-bottom: 4px;">32,523k VND</h5>
                    <div>^ 12% since last month</div>
                </div>
            </div>
        </div>
    </div>
</div>