.add-house{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f3f3f3;
    min-height: 1000px;
}
.add-new-house-form{
    width: 500px;
    background-color: #fff;
    padding: 50px;
}

