<mat-card>
	<mat-card-title style="margin: 32px;">HOUSE RENTAL MANAGEMENT</mat-card-title>
	<mat-card-content>
		<form [formGroup]="formLogin" (ngSubmit)="submitLogin()">
			<mat-form-field>
				<mat-label>Username</mat-label>
				<input type="text" matInput formControlName="username">
				<mat-error *ngIf="formLogin.controls['username'].invalid && formLogin.controls['username'].touched"
					class="error">Username is required</mat-error>
			</mat-form-field>

			<br />
			<mat-form-field>
				<mat-label>Password</mat-label>
				<input type="password" matInput formControlName="password">
				<mat-error *ngIf="formLogin.controls['password'].invalid && formLogin.controls['password'].touched"
					class="error">Password is required</mat-error>
			</mat-form-field>


			<mat-dialog-actions align="end">
				<button type="submit" mat-raised-button color="primary" [disabled]="!formLogin.valid"
					style="width: 100%;">Login</button>
			</mat-dialog-actions>
			<div style="margin-top: 8px; text-align: center;">
				<a routerLink="/forgotPass">Forgot your password?</a>
			</div>
		</form>
	</mat-card-content>
</mat-card>